@inject IDataService DataService
@implements IDisposable

@if (@DataService.Telescopes == null)
{
    <p><em>Загрузка...</em></p>
}
else if (@DataService.Telescopes.Count == 0)
{
    <p><em>Объекты не найдены.</em></p>
}
else
{
    <ul>
        @foreach (var obj in @DataService.Telescopes)
        {
            <li>
                <div>
                    <h3>@obj.Name</h3>
                    <h6>@obj.Description</h6>
                </div>
                <button class="btn btn-primary" @onclick="() => TelescopeSelected.InvokeAsync(obj.Id)">
                    <span class="oi oi-eye" title="View" >Детали</span> 
                </button>
            </li>

        }
    </ul>
}

@code {
    [Parameter] public EventCallback<int> TelescopeSelected { get; set; }

    protected override void OnInitialized()
    {
        DataService.DataLoaded += StateHasChanged;
    }
    public void Dispose()
    {
        DataService.DataLoaded -= StateHasChanged;
    }
}